:root {
    --charcoal: #1F1F1F;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: var(--charcoal);
    background-color: #9362a4;
}

.site-header {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    text-align: center;
}

.logo {
    width: 1500px;
    max-width: 100%;
    margin-bottom: 20px;
}

.main-nav {
    background: #9362a4;
    padding: 12px 20px;
}

.main-nav {
    padding: 14px 0;
}

.main-nav a {
    margin: 0 16px;
}

.main-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.main-nav a {
    color: var(--charcoal);
    /* black text */
    text-decoration: none;
    /* remove default underline */
    font-weight: 500;
    transition: color 0.2s ease;
}

.main-nav a:hover {
    color: #ffffff;
    /* white on hover */
    text-decoration: none;
}

.main-nav a:active {
    color: pink;
}

.callout {
    background-color: #e0f7fa;
    border-left: 5px solid #00acc1;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

.cta-button {
    display: inline-block;
    background-color: #00acc1;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
}

.cta-button:hover {
    background-color: #008b9a;


    /*footer*/


    footer {
        background: var(--charcoal);
        color: #ffffff;
        text-align: center;
        padding: 20px;
        font-size: 0.9rem;
    }